@chassis init;
@chassis include anchor button;

.polymath {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @chassis import components;
  @chassis import modifiers;

  @chassis import layout/header;
  @chassis import layout/footer;

  & main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .content {
      margin: 0;
      padding: 6.18vh 0;

      & .width-constraint {
        max-width: 1440px;
      }
    }

    @chassis import layout/sections;
  }
}
