@chassis init;
@chassis include anchor button svg-icon;

.polymath {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @chassis import headings;
  @chassis import components;
  @chassis import modifiers;

  @chassis import layout/header;
  @chassis import layout/footer;

  & main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > .content {
      margin: 0;
      padding: 11.8vh 0;
      font-weight: 300;
      letter-spacing: .0382em;

      & .width-constraint {
        max-width: 1200px;
      }

      @chassis viewport-width > small {
        & .content {
          @chassis font-size small;
        }
      }
    }

    @chassis import layout/sections;
  }
}
